h5 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.hero-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  transition: 0.6s;
}

.card {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid lightgrey;
  box-shadow: 4px 4px 67px -2px rgba(34, 60, 80, 0.2);
  padding: 10px;
  gap: 20px;
  /* box-shadow: 0px 82px 128px -26px #f4f3f4 inset;
  border: 1px solid #d8d8d8; */
  position: relative;
  transition: 0.6s;
}
.card:hover {
  cursor: pointer;
}
.card:hover .hovered {
  display: block;
  display: flex;
}
.hovered {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(69, 63, 63, 0.233);
  display: none;
}
.hovered button {
  padding: 8px 10px;
  font-size: 20px;
  background-color: red;
  outline: 0;
  border: 2px solid red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}
.hovered button:active {
  transform: scale(1.1);
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

/* .user-name p,
.user-name h5 {
  padding: 0;
  margin: 0;
} */

.user-name h5 {
  font-size: 25px;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}
.card-body h5 {
  width: 70%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-body p {
  width: 70%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-body p span:first-child {
  color: ;
}
